<dx-context-menu #cnmActions [dataSource]="dtsActions" [width]="'auto'" [target]="cnmActionsTarget"
    [(visible)]="cnmActionsVisible" (onItemClick)="onCnmActionsItemClick($event)" [showEvent]="undefined">
    <dxo-position [my]="'top right'" [at]="'bottom right'"></dxo-position>
</dx-context-menu>
<div class="page-title">
    <dx-form labelLocation="left" [showColonAfterLabel]="false" [colCount]="12">
        <dxo-col-count-by-screen [xs]="2" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item>
            <div *dxTemplate>
                <h2 class="page-info-title">Available Markets</h2>
            </div>
        </dxi-item>
        <dxi-item>
            <div *dxTemplate>
                <div class="pull-right">
                    <shared-button class="d-shared-button" [customText]="'Add Market'" [isDisabled]="isDataProcessing"
                        [isVisible]="btnAddMarketVisible" (clicked)="onBtnAddMarketClicked()">
                    </shared-button>
                </div>
            </div>
        </dxi-item>
    </dx-form>
</div>
<div class="content-block dx-card responsive-paddings">

    <dx-data-grid #grdMarkets class="d-grid-no-bacth-actions-filter" [dataSource]="dtsMarkets"
        (onContentReady)="onGrdMarketsContentReady($event)" (onToolbarPreparing)="onGrdMarketsToolbarPreparing($event)"
        (onRowClick)="onGrdMarketsRowClick($event)">

        <dxo-export [enabled]="true" [fileName]="'Markets'" [allowExportSelectedData]="false">
            <dxo-texts exportAll="Export to Excel"></dxo-texts>
        </dxo-export>
        <dxo-paging [pageSize]="25"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="listPagerSource"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <dxi-column dataField="insuranceCompany" caption="Insurance Company" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="line" caption="Business Line" [hidingPriority]="7" [allowHeaderFiltering]="true"
            [allowFiltering]="false">
        </dxi-column>
        <dxi-column dataField="type" caption="Business Type" [hidingPriority]="6" [allowHeaderFiltering]="true"
            [allowFiltering]="false">
        </dxi-column>
        <dxi-column dataField="businessWirth" caption="Business Wirth" [hidingPriority]="5"
            [allowHeaderFiltering]="true" [allowFiltering]="false">
        </dxi-column>
        <dxi-column dataField="favorite" [hidingPriority]="4" [width]="160" alignment="left"
            [allowHeaderFiltering]="true" [allowFiltering]="false" caption="Favorite"></dxi-column>

        <dxi-column dataField="modifiedDate" caption="Modified Date" dataType="date" [hidingPriority]="3"
            [allowHeaderFiltering]="true" [allowFiltering]="true" [format]="dateTimeFormat">
        </dxi-column>
        <dxi-column dataField="modifiedBy" caption="Modified By" [hidingPriority]="2" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="marketStates" caption="States" [allowHeaderFiltering]="false" [allowFiltering]="true"
            [hidingPriority]="1">
        </dxi-column>
        <dxi-column dataField="notes" [encodeHtml]="false" caption="Notes" [allowHeaderFiltering]="false"
            [allowFiltering]="true" [hidingPriority]="0">
        </dxi-column>
        <div *dxTemplate="let cellInfo of 'grdMarketArchiveCellTemplate'">
            <img *ngIf="cellInfo.data.isArchived" [width]="25" src="../../../../assets/images/checked.png" />
        </div>
        <dxi-column dataField="id" [width]="80" alignment="right" caption="Action" [allowEditing]="false"
            [allowExporting]="false" [allowFiltering]="false" [allowFixing]="false" [allowGrouping]="false"
            [allowHeaderFiltering]="false" [allowHiding]="false" [allowReordering]="false" [allowResizing]="false"
            [allowSearch]="false" [allowSorting]="false" cellTemplate="buttonTemplate"></dxi-column>
        <div *dxTemplate="let buttonInfo of 'buttonTemplate'">
            <div class="d-con-cell-action text-right">
                <button type="button" [disabled]="isDataProcessing" id="btnMainAction-{{buttonInfo.data.id}}"
                    (click)="onBtnMainActionClick(buttonInfo.data)">
                    {{getMainActionText()}}
                </button>
                <button type="button" class="d-btn-toggle" *ngIf="getTriangleVisibility()" id="btnMoreActions-{{buttonInfo.row.rowIndex}}"
                    (click)="onBtnMoreActionsClick(buttonInfo.data,'btnMoreActions-'+buttonInfo.row.rowIndex)"></button>
            </div>
        </div>
        <div *dxTemplate="let data of 'statesFiltersTemplate'">
            <dx-select-box [items]="dtsStates" [searchEnabled]="true" [showClearButton]="true" displayExpr="name"
                valueExpr="id" placeholder="States" (onValueChanged)="onStateChanged($event)">
            </dx-select-box>
        </div>
        <div *dxTemplate="let data of 'businessFiltersTemplate'">
            <dx-select-box [items]="dtsBusinessLines" [searchEnabled]="true" [showClearButton]="true"
                displayExpr="title" valueExpr="id" placeholder="Business Line"
                (onValueChanged)="onBusinessLineChanged($event)">
            </dx-select-box>
        </div>
        <div *dxTemplate="let data of 'typeFiltersTemplate'">
            <dx-select-box [items]="dtsBusinessTypes" [showClearButton]="true" [searchEnabled]="true"
                displayExpr="title" valueExpr="id" placeholder="Business Type"
                (onValueChanged)="onBusinessTypeChanged($event)">
            </dx-select-box>
        </div>
    </dx-data-grid>

</div>
<ng-template #componentContainer></ng-template>