<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2018-{{appInfo.currentYear}} {{appInfo.title}} Inc.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
<dx-load-panel [elementAttr]="{'id':'loading'}" shadingColor="rgba(0,0,0,0.2)" [position]="{ of: '.content' }"
    [visible]="false" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
