<div class="content-block">
    <div class="d-con-preview-page-title">
        <div class="d-preview-page-title">PENDING POLICY FOR REGAL CONSTRUCTION & REMODELING</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">1. NAMED INSUREDS</h1>
        </div>
    </div>

    <div class="d-con-preview-container">
        <div class="d-preview">
            <div class="d-preview-props-container">
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">NAMED INSUREDS</div>
                    <div class="d-preview-prop-value">
                        REGAL CONSTRUCTION & REMODELING
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">2. POLICY INFO</h1>
        </div>
    </div>
    <div class="d-con-preview-container">
        <div class="d-preview">
            <div class="d-preview-props-container">
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">LINE OF BUSINESS</div>
                    <div class="d-preview-prop-value">
                        Worker's Compensation
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">SUBLINE</div>
                    <div class="d-preview-prop-value">
                        Gather Data
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">ESTIMATED PREMIUM</div>
                    <div class="d-preview-prop-value">
                        $0.00
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">POLICY NUMBER</div>
                    <div class="d-preview-prop-value">
                        Pending
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">POLICY STATUS</div>
                    <div class="d-preview-prop-value">
                        Pending
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">TERM</div>
                    <div class="d-preview-prop-value">
                        Annual
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">EFFECTIVE DATE</div>
                    <div class="d-preview-prop-value">
                        03/16/2021
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">EXPIRATION DATE</div>
                    <div class="d-preview-prop-value">
                        03/16/2022
                    </div>
                </div>

                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">BINDER NUMBER</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">BUSINESS TYPE</div>
                    <div class="d-preview-prop-value">
                        New Business
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">3. ADDITIONAL INFO</h1>
        </div>
    </div>
    <div class="d-con-preview-container">
        <div class="d-preview">
            <div class="d-preview-props-container">
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">POLICY SOURCE</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">SOURCE DETAILS</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">RELATED X-DATE</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">AGENT</div>
                    <div class="d-preview-prop-value">
                        Ron Levy
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">CSR</div>
                    <div class="d-preview-prop-value">
                        Vivi Pioli
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">OWNER</div>
                    <div class="d-preview-prop-value">
                        Agent of Policy
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">PRODUCERS</div>
                    <div class="d-preview-prop-value">
                        Ron Levy
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">POLICY DESCRIPTION</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>

                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">BINDER NUMBER</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">BUSINESS TYPE</div>
                    <div class="d-preview-prop-value">
                        New Business
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">4. AGENCY FEES</h1>
        </div>
    </div>
    <div class="d-con-preview-container">
        <div class="d-preview">
            <div class="d-preview-props-container">
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">IPEX SERVICE FEE</div>
                    <div class="d-preview-prop-value">
                        $300.00
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">5. LOCATION SCHEDULE</h1>
        </div>
    </div>
    <div class="d-con-preview-container">
        <dx-data-grid class="d-grid-no-bacth-actions-filter" [dataSource]="dtsLocations">
            <dxi-column dataField="loc" caption="Location #">
            </dxi-column>
            <dxi-column dataField="address" caption="Street Address">
            </dxi-column>
            <dxi-column dataField="state" caption="State">
            </dxi-column>
            <dxi-column dataField="city" caption="City">
            </dxi-column>
            <dxi-column dataField="city" caption="Action">
            </dxi-column>
        </dx-data-grid>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">6. ADDITIONAL INTEREST</h1>
        </div>
    </div>
    <div class="d-con-preview-container">
        <dx-data-grid class="d-grid-no-bacth-actions-filter" [dataSource]="dtsLocations">
            <dxi-column dataField="loc" caption="Location #">
            </dxi-column>
            <dxi-column dataField="address" caption="Interest">
            </dxi-column>
            <dxi-column dataField="state" caption="Description">
            </dxi-column>
            <dxi-column dataField="city" caption="Name">
            </dxi-column>
            <dxi-column dataField="city" caption="Address">
            </dxi-column>
            <dxi-column dataField="city" caption="City">
            </dxi-column>
            <dxi-column dataField="city" caption="State">
            </dxi-column>
            <dxi-column dataField="city" caption="Rank">
            </dxi-column>
            <dxi-column dataField="city" caption="Loan">
            </dxi-column>
        </dx-data-grid>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-preview-actions">7. NATURE OF BUSINESS</h1>
        </div>
    </div>
    <div class="d-con-preview-container">
        <div class="d-preview">
            <div class="d-preview-props-container">
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">NATURE OF BUSINESS</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">OTHER</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">DATE BUSINESS STARTED</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">PRIMARY OPERATIONS</div>
                    <div class="d-preview-prop-value">
                        Ron Levy
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">SERVICE OPERATIONS %</div>
                    <div class="d-preview-prop-value">
                        Vivi Pioli
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">REPAIR WORK</div>
                    <div class="d-preview-prop-value">
                        Agent of Policy
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">OFF PREMISES INSTALLATION</div>
                    <div class="d-preview-prop-value">
                        Ron Levy
                    </div>
                </div>
                <div class="d-preview-prop">
                    <div class="d-preview-prop-title">OPERATIONS OF OTHER NAMED INSUREDS</div>
                    <div class="d-preview-prop-value">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>