<dx-context-menu #cnmActions [dataSource]="dtsActions" [width]="'auto'" [target]="cnmActionsTarget"
    [(visible)]="cnmActionsVisible" (onItemClick)="onCnmActionsItemClick($event)" [showEvent]="undefined">
    <dxo-position [my]="'top right'" [at]="'bottom right'"></dxo-position>
</dx-context-menu>

<div class="page-title">
    <dx-form labelLocation="left" [showColonAfterLabel]="false" [colCount]="12">
        <dxo-col-count-by-screen [xs]="2" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item>
            <div *dxTemplate>
                <h2 class="page-info-title">User Types</h2>
            </div>
        </dxi-item>
        <dxi-item>
            <div *dxTemplate>
                <div class="pull-right">
                    <shared-button class="d-shared-button" [customText]="'Add User Type'" [isDisabled]="isDataProcessing"
                        [isVisible]="true" (clicked)="onBtnAddRoleClicked()">
                    </shared-button>
                </div>
            </div>
        </dxi-item>
    </dx-form>
</div>

<div class="content-block dx-card responsive-paddings">
    <dx-data-grid #grdRoles class="d-grid-no-bacth-actions-filter" [dataSource]="dtsRoles"
        (onContentReady)="onGrdRolesContentReady($event)" [(selectedRowKeys)]="grdRolesSelectedRowKeys"
        (onToolbarPreparing)="onGrdRolesToolbarPreparing($event)" (onRowClick)="onGrdRolesRowClick($event)">

        <dxo-export [enabled]="true" [fileName]="'Business Lines'" [allowExportSelectedData]="false">
            <dxo-texts exportAll="Export to Excel"></dxo-texts>
        </dxo-export>
        <dxo-paging [pageSize]="25"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="listPagerSource"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxi-column dataField="title" caption="Title" [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>

        <dxi-column dataField="totalUsers" caption="# of Users" [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="modifiedDate" caption="Modified Date" dataType="date" [hidingPriority]="2"
            [allowHeaderFiltering]="true" [allowFiltering]="true" [format]="dateTimeFormat">
        </dxi-column>
        <dxi-column dataField="modifiedBy" caption="Modified By" [hidingPriority]="1" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="isArchived" caption="Archived" [width]="80" alignment="left"
            cellTemplate="grdRoleArchiveCellTemplate" [visible]="grdRoleArchivedColumnVisible"
            [showInColumnChooser]="true" [allowFiltering]="false" [allowHiding]="false">
        </dxi-column>
        <div *dxTemplate="let cellInfo of 'grdRoleArchiveCellTemplate'">
            <img *ngIf="cellInfo.data.isArchived" [width]="25" src="../../../../assets/images/checked.png" />
        </div>
        <dxi-column dataField="id" [width]="80" alignment="right" caption="Action" [allowEditing]="false"
            [allowExporting]="false" [allowFiltering]="false" [allowFixing]="false" [allowGrouping]="false"
            [allowHeaderFiltering]="false" [allowHiding]="false" [allowReordering]="false" [allowResizing]="false"
            [allowSearch]="false" [allowSorting]="false" cellTemplate="buttonTemplate"></dxi-column>
        <div *dxTemplate="let buttonInfo of 'buttonTemplate'">
            <div class="d-con-cell-action text-right">
                <button type="button" [disabled]="isDataProcessing" id="btnMainAction-{{buttonInfo.data.id}}"
                    (click)="onBtnMainActionClick(buttonInfo.data)">
                    Edit
                </button>
                <button type="button" class="d-btn-toggle" id="btnMoreActions-{{buttonInfo.row.rowIndex}}"
                    (click)="onBtnMoreActionsClick(buttonInfo.data,'btnMoreActions-'+buttonInfo.row.rowIndex)"></button>
            </div>
        </div>

    </dx-data-grid>

</div>
<ng-template #componentContainer></ng-template>