<dx-popup class="d-con-popup d-con-detail-popup" [(visible)]="popupVisible" [toolbarItems]="popupToolbarItems"
    [(width)]="popupWidth" [(height)]="popupHeight" [title]="popupTitle" [dragEnabled]="true" [resizeEnabled]="true"
    (onHiding)="onPopupHiding($event)" (onHidden)="onPopupHidden($event)"
    (onInitialized)="onPasswordPopupInitialized($event)">
    <div *dxTemplate="let data of 'content'" class="d-con-popup-content">
        <dx-form #frmChangePassword [formData]="dtsChangePassword">
            <dxi-item dataField="oldPassword" [visible]="currentPassword" [editorOptions]="{mode:'password'}">
                <dxi-validation-rule type="required" message="Current Password is required"></dxi-validation-rule>
                <dxo-label [visible]="true" text="Current Password"></dxo-label>
            </dxi-item>
            <dxi-item dataField="newPassword" [visible]="nextPassword"
                [editorOptions]="{mode:'password', maxLength: 50}">
                <dxi-validation-rule type="required" message="New Password is required"></dxi-validation-rule>
                <dxo-label [visible]="true" text="New Password"></dxo-label>
            </dxi-item>
            <dxi-item dataField="confirmPassword" [visible]="nextPassword"
                [editorOptions]="{mode:'password', maxLength: 50}">
                <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
                <dxi-validation-rule type="compare" [comparisonTarget]="comparePassword"
                    message="Password and Confirm Password do not match"></dxi-validation-rule>
                <dxo-label [visible]="true" text="Confirm Password"></dxo-label>
            </dxi-item>
        </dx-form>
    </div>
</dx-popup>
<ng-template #componentContainer></ng-template>